*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #341D4D;
    text-align: center;
}

h1{
    font-size: 10vmin;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin    ;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 10px white;
    font-size: 8vmin;
    color: white;
    background-color: #44446f;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 10vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem   ;
}

.hide{
    display: none;
}